.container {
  position: relative;
  top: 15px;
  height: 800px;
  width: 200px;
  background-color: blue;
}

.target {
  position: relative;
  height: 20px;
  width: 180px;
  background-color: red;
  bottom: -780px;
  margin-left: 10px;
}

.note {
  position: absolute;
  height: 20px;
  width: 80px;
  margin: 0 auto;
  background-color: yellow;
}
