/* body {
  margin: 0 auto;
} */

.board {
  display: flex;
}

.container {
  position: relative;
  top: 15px;
  height: 700px;
  width: 200px;
  background-color: blue;
  border: 2px solid papayawhip;
}

.target {
  position: relative;
  height: 20px;
  width: 180px;
  background-color: red;
  bottom: -680px;
  margin-left: 10px;
}

.note {
  position: absolute;
  height: 20px;
  width: 80px;
  margin-left: 60px;
  background-color: yellow;
}
