body {
  margin: 0px;
  margin: 0 auto;
  background-color: black;
  .board {
    display: flex;
    justify-content: center;
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 25px;
    .container, .container-b, .container-c, .container-d {
      position: relative;
      height: 700px;
      width: 200px;
      background: rgba(40,40,40,0.3);
      margin: 0 2px;
      .note {
        position: absolute;
        height: 20px;
        width: 80px;
        margin-left: 60px;
        background-color: yellow;
        border-radius: 10px;
        top: 0px;
      }
      .target-a, .target-b,  .target-c,  .target-d {
        position: relative;
        height: 50px;
        width: 180px;
        background-color: #323131;
        bottom: -650px;
        margin-left: 10px;
        border-radius: 10px;
        transition: background-color 0.1s;
      }
      .notePulse {
        animation: notePulse 1s;
        animation-iteration-count: infinite;
        background-color: #71FC6F;
      }
      .hit {
        background-color: yellow;
      }
    }
  }
  .load{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 0.5;
    position: absolute;
    top: 0px;
    transition: opacity 2s linear;
  }
  .hide {
    opacity: 0;
  }
  .title {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: bold;
    animation: title-fade 5s;
  }
  .logo{
    width: auto;
    height: 50%;
    // margin-top: 5vh;
    animation: logoEnter 3s;
    animation-iteration-count: infinite;
  }
  .ready {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    animation: logoEnter 3s;
    animation-iteration-count: infinite;
  }
  .score {
    height: 35px;
    width: 300px;
    color: #a15756;
    margin-top: 15px;
    margin-left: 60px;
    padding-top: 5px;
    font-size: 25px;
    justify-content: center;
    .winning {
      height: 350px;
      width: 6600px;
      color: #C6BE405;
      // margin-top: 15px;
      // margin-left: 500px;
      padding-top: 5px;
      font-size: 30px;
      justify-content: center;
      position: absolute;
      margin: o auto;
      z-index: 1
    }
  }
  .shake {
    animation: shake 0.25s;
    animation-iteration-count: infinite;
  }
}

.background-glow {
  animation: glow 2s;
  animation-iteration-count: infinite;
}

.message {
  opacity: 0;
  color: #0DFB09;
  position: fixed;
  text-align: center;
  font-size: 2px;
  left: 300px;
  top: 10%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

.message1 {
  @extend .message;
  left: 400px;
}

.message2 {
  @extend .message;
  left: 225px;
}

.message3 {
  @extend .message2;
  color: #FF4141;
}

.message4 {
  @extend .message1;
  color: #FF4141;
}

.animate-message {
  font-size: 100px;
  opacity: 0.7;
  transform: scale(0);
  left: 0px;
  top: calc(100vh - 200px);
  transition-duration: 500ms, 2000ms, 1500ms, 1000ms;
  transition-delay: 0ms, 500ms, 1200ms, 500ms;
  transition-property: opacity, left, top, transform;
}

@keyframes glow {
  0% {background-color: black};
  50% {background-color: #79262a};
  100% {background-color: black};
}
@keyframes notePulse {
  0% {height: 17px}
  0% {width: 70px}
  50% {height: 23px}
  50% {width: 90px}
  100% {height: 17px}
  100% {width: 60px}
}
@keyframes logoEnter {
  0% {opacity: 0};
  50% {opacity: 1};
  100% {opacity: 0};
}

@keyframes title-fade {
  0% {opacity: 0};
  50% {opacity: 1};
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-0.5deg); }
  20% { transform: translate(-2px, 0px) rotate(.5deg); }
  30% { transform: translate(2px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(.5deg); }
  50% { transform: translate(-1px, 2px) rotate(-0.5deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-0.5deg); }
  80% { transform: translate(-1px, -1px) rotate(.5deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-0.5deg); }
}
